$white = #fff
$whitesmoke = #f5f5f5
$gainsboro = #edecec
$gray-lighter = #ddd
$grey-light = #ccc
$grey = #bbb
$grey-dark = #999
$grey-dim = #666
$black-light = #444
$black-deep = #222
$red = #e74f4d
$red-dark = #bf4f49
$blue-bright = #87daff
$blue-light = #82d5ff
$blue = #2e9fff
$blue-deep = #33353f
$blue-dark = #2f3038

.color-blue
  color $blue

a
  color $blue
  cursor pointer

body
  margin 0
  padding 0
  overflow-x hidden
  background $white
  font-family "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

transition()
  -moz-transition: arguments
  -webkit-transition: arguments
  -o-transition: arguments
  transition: arguments

.main-content
  margin-top 0

//margin-top 50px

//.navbar-default .navbar-header a:hover {
//  color: #ddd;
//}

/*分辨率较小时，右侧的功能按钮*/
.navbar-default .navbar-toggle
  border 0
  margin-right 5px
  &:hover, &:focus
    border 0
    background-color rgba(45, 54, 66, .8)

  .icon-bar
    background-color $blue

.navbar-default .navbar-brand
  color $blue

.navbar-default .navbar-nav > .active > a
  color: $blue
  background-color transparent
  &:hover, &:focus
    color: $blue
    background-color transparent

.navbar-default .navbar-nav .open .dropdown-menu > li > a
  color $blue
  &:hover, &:focus
    color $blue;
    background-color transparent

.navbar-default .navbar-nav > li > a
  transition(color .5s)
  &:hover, &:focus
    background-color transparent
    color $blue

@media (max-width: 767px)
  .navbar-default .navbar-nav .open .dropdown-menu > li > a
    color #ddd
    &.hover, &.focus
      color: $blue;
      background-color: transparent

  /*小屏幕时，卷动的菜单*/
  .navbar-collapse ul li a
    margin-left 10px
    margin-right 10px

//.navbar-toggle
//  margin-right 5px

.header-desc
  max-width 500px
  text-align: center
  margin: 30px auto 30px
  .bottom-line
    &:after
      background-color: $blue
  h2
    font-size: 26px
    color: $grey-dim
  p
    font-size: 14px
    color: $grey

.about-us
  .container
    max-width 900px
  p
    font-size 18px

.issue-intro
  //background-color $whitesmoke
  h3
    font-size 20px
    margin-bottom 25px

  .row
    border 3px dashed $gainsboro
    padding 10px

.intro
  width: 100%
  position: relative
  height: 600px
  height: calc(100vmin - 50px)
  margin-bottom 0
  padding 0

  display: -webkit-flex
  display: flex
  flex-direction: column
  -webkit-justify-content: center
  justify-content: center
  .background
    position: absolute
    top: 0
    width: 100%
    height: 100%
    //background-color: #00b5ec;
    //transition: all .2s ease-in-out;
    background: url("../img/travel.jpg")
    background-size: cover
    background-position: center
    //-webkit-filter: brightness(0.8)
    //-moz-filter: brightness(0.8)
    //-o-filter: brightness(0.8)
    //-ms-filter: brightness(0.8)
    //filter: brightness(0.8)
    z-index: -1
  .content
    padding-left: 120px
    color: $white
    h2
      font-size: 45px
      margin-bottom: 20px
    p
      color $gray-lighter
      font-size: 20px
      line-height: 1.5
    button
      color: $white
      background-color: $red
      font-size: 25px;
      padding: 10px 80px
  .arrow-down
    text-align center
    a
      font-size: 35px;
      color: white;
      width: 50px;
      line-height: 52px;
      border-radius: 50%;
      height: 50px;
      border: 1px solid white;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 20px;
      left: 50%;
      z-index: 1029;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: .9;

a.scroll-arrow {
  font-size: 35px;
  color: white;
  width: 50px;
  //line-height: 52px;
  border-radius: 50%;
  height: 50px;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1029;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: .9;
}

.float-right
  float right

.float-left
  float left

a.next-arrow-button
  font-size: 16px;
  color: $blue;
  svg
    display: inline-block;
    position: relative;
    top: 8px;
    left: 6px;

a.scroll-arrow i
  width 100%
  text-align center

.parallax, .full-image
  width 100%
  height 100vmin
  overflow hidden
  display block

.section-header .container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}

.section-header
  margin-bottom 0
  padding 0

.section-header .content {
  top: 42%;
}

.section-header .content {
  position: relative;
  color: white;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  vertical-align: center;
  line-height: 1.7;
  max-width 900px
  margin 0 auto
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section-header h1 {
  margin-bottom 30px
  text-shadow: -2px 2px 30px rgba(0, 0, 0, 0.25), -2px 4px 14px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.1em;
  font-weight: 100;
  font-size: 45px;
  text-transform: uppercase;
  //text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);
}

.section-header h5 {
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  margin: 0 auto .5em;
  line-height: 1.5;
  letter-spacing: 0.125;
  //text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.pattern-image {
  width: 100%;
  background-size: 100%;
}

.parallax > img {
  width: 100%;
  min-width: 0;
  min-height: 0;
}

.parallax > img, .full-image > img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}

.pattern-image:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
  opacity: .2;
  background: #111;
  /* background: #000; */
  /* background: url("../img/pattern.png"); */
}

section
  margin 0 auto 10px
  padding 10px 0 30px 0
  h3
    font-size: 20px
    color: $grey-dim
  p
    color: $grey-dark

.img-icon
  width: 20px
  height: 20px
  margin-top: -5px
  background-size: contain
  background-position: center
  //background-attachment: fixed
  background-repeat: no-repeat
  display: inline-block
  vertical-align: middle

  &.qq
    background-image: url("../img/qq.png")
  &.ximalaya
    //width 100px
    //height 100px
    background-image: url("../img/ximalaya.png")

  &.twitter
    background-image: url("../img/twitter.png")
  &.weibo
    background-image: url("../img/weibo.png")
  &.earth
    background-image: url("../img/earth.png")

  &.logo
    background-image: url("../img/logo.png")
    &.center-block
      width: 70px
      height: 70px
      margin: 0 auto
      display: block

footer
  padding: 30px 5% 20px;
  color: $grey-dim;
  background: $gainsboro;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, .2);
  position: relative;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%
  //padding-top: 20px
  //padding-bottom: 20px
  line-height: 1.5
  font-size: 14px

.leave-message
  //max-width 970px
  //margin 0 auto

  .message-form
    max-width 700px
    width 80%
    margin 0 auto
    .form-group
      margin-bottom: 20px

    button, input, textarea
      border: 0
      float: left
      width: 100%
      background-color: $whitesmoke
      padding: 5px 15px
    textarea
      padding 10px
    button
      font-size: 16px
      color $grey-dim
      box-shadow 0 1px 2px #c5c5c5
      transition(box-shadow, .3s)
      padding: 10px 15px
      &:hover
        box-shadow 0 2px 3px #bdbdbd

    input
      height: 40px

.help
  //background-color $whitesmoke
  .image-wrap
    span
      color $blue-bright
      font-size 65px

  .row
    text-align center

.social-links
  ul
    margin 0 auto
    display table
    li
      font-size 28px
      display inline-block
      list-style none
      margin 0 10px

.contact
  padding-top: 80px
  padding-bottom: 80px

  .social-links
    margin: 30px auto 0
    ul
      margin: 0 auto
      display: table
      li
        display: inline-block
        margin: 0 15px
        .img-icon
          width: 25px
          height: 25px

// 标题下面的红色线
.bottom-line
  &:after
    content: " "
    width: 30px
    height: 3px
    background-color: $blue
    display: block
    margin: 7px auto
    transition(width .2s)

  &:hover
    &:after
      width: 200px

.real-case
  .card
    margin-bottom 30px
    border-radius 3px
    padding 10px
    box-shadow 0 1px 2px #c5c5c5
    .story-title
      margin-top 10px
      font-size 14px
      color $grey-dim
      text-align center
    &:hover
      box-shadow 0 2px 12px 1px #bdbdbd;
      transition(box-shadow, .3s)
    a
      text-decoration none
  img
    max-width 100%

.our-program
  .program-item
    text-align center
    display block
    width 180px
    margin 10px auto
    padding 30px 10px 10px
    border-radius 3px
    box-shadow 0 1px 2px #c5c5c5
    img
      width 100%
    &:hover
      box-shadow 0 2px 12px 1px #bdbdbd;
      transition(box-shadow, .3s)
    a
      text-decoration none
      &:hover, &:focus
        text-decoration none
    .program-icon
      span
        font-size 100px
        width 100px
        height 100px

.audio-products
  ul.audio-items
    li
      text-align center
      display inline-block
      list-style-type none
      width 180px
      margin 10px
      padding 10px
      border-radius 3px
      box-shadow 0 1px 2px #c5c5c5
      img
        width 100%
      &:hover
        box-shadow 0 2px 12px 1px #bdbdbd;
        transition(box-shadow, .3s)
      a
        text-decoration none
        &:hover, &:focus
          text-decoration none

  h3
    font-size 14px
    color $grey-dim

.nav-header-bar
  border 0 solid transparent
  box-shadow 0 1px 1px rgba(0, 0, 0, .1)
  background-size auto
  border-radius 0
  color $blue
  background-color $white

.nav-header-bar .container {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  position: relative;
}

.navbar.navbar-fixed-top {
  transition: all .5s .1s;
}

.navbar-transparent
  background-color transparent
  border-bottom 1px solid transparent

.navbar-default.navbar-transparent
  .navbar-brand
    color $white

  .navbar-nav > .active > a
    color: $white
    background-color transparent
    &:hover, &:focus
      color: $white
      background-color transparent

  .navbar-nav .open .dropdown-menu > li > a
    color $white
    &:hover, &:focus
      color $white
      background-color transparent

  .navbar-nav > li > a
    transition(color .5s)
    &:hover, &:focus
      background-color transparent
      color $white

@media (min-width: 768px)
  .navbar-burger .container
    padding: 0 15px

@media (max-width: 767px)
  .form-group
    input, textarea
      margin-bottom 10px